.btn-table{
    & button{
        margin-left: 2px;
    }
}
.ve-t-u{
    margin-top: 55px;
}
.account-info{
    width: 100%;
    & .info-input{
        & h4{
            font-weight: 600;
            font-size: 16px;
        }
    }
    &  select{
        width: 100%;
    }
    &p{
        font-size: 16px;
        font-weight: 500;
    }
}
.transaction-details{
    & h3{
        text-align: center;
    }
    & .details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 8px ;
        border: 1px solid #dedede;
        padding: 10px;
        height: 200px;
    }
   
    & p {
        width: 45%;
        justify-content: space-between;
        display: inline-flex;
        font-weight: bold;
    }
}
.top-up-submit{
    margin-top: 10px;
} 

@media (width < 768px){

    .transaction-details{
       & p{
            width:100%
        }
    }
    .ve-t-u{
        margin-top: 20px;
    }
    }
        