/* Navbar component styles */
.sidebar {
  background-color: #f5c005;
  height: 100vh;
  /* overflow-y: auto; */
  margin: 0;
  max-width: 295px;
  position: sticky;
  top: 0;
}
 .navbar-logo-container {
  display: flex;
  align-items: center;
}
 .navbar-logo-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-inline: auto;
  display: flex;
 
}
 .navbar-keke-logo {
   width: 100px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 14px 28px rgba(17, 16, 16, 0.25),
    0 10px 10px rgba(49, 48, 48, 0.22);
    padding: 0 5px 5px ;
}


.navbar-app-title {
  color: #020202;
}

.navbar-menu-container {
  position: relative;
}

.navbar-menu-toggle {
  display: none; /* Hidden by default */
}

.navbar-link-container {
  margin-top: 20px;
  width: 100%;
}

.navbar-link-item {
  color: #f9f9f9;
  padding-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 30px;
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s;

}

.navbar-active-side-menu {
  background-color: #a88504;
  width: 100%;
  /* font-size: 1.65rem; */
}

.navbar-active-side-menu:hover {
  color: var(--primaryColor2);
}

.navbar-link-item:hover {
  background-color: #a88504;
  color: #fff;
  cursor: pointer;
  transform: scale(1.0);
}

.navbar-container {
  width: 100%;
  height: 90%;
  margin-top: -30px;
  position: sticky;
  top: 0;
}

.navbar-sidebar {
  background-color: #f5c005;
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  width: 250px;
  position: sticky;
  top: 0;
}
.flex-link {
  display: flex;
  justify-content: space-between;
}
.opwo {
  margin-top: 5px;
}
.navbar-link-item-sub {
  color: #f9f9f9;
  padding-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 30px;
  padding: 10px 30px;
  list-style: none;
  background-color: #a88504;
  cursor: pointer;
  border-radius: 0px;
  text-align: left;
  transition: transform 0.3s;
  position: relative; /* Ensure positioning context */
}

.navbar-link-item-sub::before {
  content: '';
  height: 100% ; /* Adjusted height to match padding */
  width: 3px;
  background-color: white; /* Border color */
  position: absolute;
  left: 0;
  top: 0px; /* Adjusted top position to match padding */
  border-radius: 0px;
}
.navbar-logout{
  position: sticky;
  bottom: 0px;
  color: white;
  background-color: black;
  /* width: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  padding: 10px 30px;
  margin-top: 30px;
}
.icon {
  font-size: 22px;
  margin-bottom: -6px;
  margin-right: 15px;
  margin-bottom: 5px;
}

/* styling for sidebar on small screen */
.navbar-md {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}
.navbar-link-item-md {
  padding: 10px 20px;
  margin-bottom: 17px;
}

.icon-md {
  font-size: 3rem !important;
  font-weight: bold;
}

.hambugger-md {
  margin-bottom: 40px;

}

@media screen and (max-width: 767px){
  .navbar-lg {
    display: none;
  }
  .navbar-md {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    position: sticky;
    height: 100%;
    top: 0;
  }
  .sidebar {
    width: 100px;
    height: 200vh
  }
  #log-out-text {
    display: none ;
  }
  .navbar-logout{
    padding: 20px;
    bottom: 10px
  }
  .navbar-logout svg {
    margin: 0;
  }
}

/* end of styling for sidbar on small screens */