/* Navbar component styles */
.sidebar {
  background-color: #f5c005;
  height: 100vh;
  /* overflow-y: auto; */
  margin: 0;
  width: 300px;
  position: sticky;
  top: 0;
}
 .navbar-logo-container {
  display: flex;
  align-items: center;
}
 .navbar-logo-container {
  width: 115px;
  height: 115px;
  border-radius: 100%;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(17, 16, 16, 0.25),
    0 10px 10px rgba(49, 48, 48, 0.22);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
 .navbar-keke-logo {
  position: absolute;
  width: 100px;
}

.navbar-app-title {
  color: #020202;
}

.navbar-menu-container {
  position: relative;
}

.navbar-menu-toggle {
  display: none; /* Hidden by default */
}

.navbar-link-container {
  margin-top: 20px;
  width: 100%;
}

.navbar-link-item {
  color: #f9f9f9;
  padding-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 30px;
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s;
}

.navbar-active-side-menu {
  background-color: #a88504;
  width: 100%;
  /* font-size: 1.65rem; */
}

.navbar-active-side-menu:hover {
  color: var(--primaryColor2);
}

.navbar-link-item:hover {
  background-color: #a88504;
  color: #fff;
  cursor: pointer;
  transform: scale(1.05);
}

.navbar-container {
  width: 100%;
  height: 90%;
  margin-top: -30px;
  position: sticky;
  top: 0;
}

.navbar-sidebar {
  background-color: #f5c005;
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  width: 250px;
  position: sticky;
  top: 0;
}
.flex-link {
  display: flex;
  justify-content: space-between;
}
.opwo {
  margin-top: 5px;
}
.navbar-link-item-sub {
  color: #f9f9f9;
  padding-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 30px;
  padding: 10px 30px;
  list-style: none;
  background-color: #a88504;
  cursor: pointer;
  border-radius: 0px;
  text-align: left;
  transition: transform 0.3s;
  position: relative; /* Ensure positioning context */
}

.navbar-link-item-sub::before {
  content: '';
  height: 100% ; /* Adjusted height to match padding */
  width: 3px;
  background-color: white; /* Border color */
  position: absolute;
  left: 0;
  top: 0px; /* Adjusted top position to match padding */
  border-radius: 0px;
}
.navbar-logout{
  position: sticky;
  bottom: 0px;
  color: white;
  background-color: black;
  /* width: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  padding: 10px 30px;
}