/* sidebar.css */

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hide the sidebar */
    transition: left 0.3s ease; /* Add smooth transition */
  }
  
  .sidebar.open {
    left: 0; /* Show the sidebar when 'open' class is applied */
  }
  
  .hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  /* Media query for smaller screens (e.g., mobile devices) */
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%; /* Make the sidebar full width */
      left: -100%; /* Initially hide the sidebar */
    }
  
    .sidebar.open {
      left: 0; /* Show the sidebar when 'open' class is applied */
    }
  }
  