.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 1000;
  
}

.link {
  padding: 20px;
}

.link_item {
  margin-bottom: 10px;
  cursor: pointer;
}

.active_side_menu {
  font-weight: bold;
}

.hamburger {
  display: none; /* Hide hamburger on larger screens */
}

.line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .sidebar {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
  }

  .link {
    display: none;
  }

  .link.open {
    display: block;
  }
}
